body {
    font: 20px Arial, Sans-serif;
}
.navbar {
    background-color:paleturquoise;
}

.margin {
    padding: 50px;
}

.quem-somos {
    background-color:rgb(58, 166, 180);
    color: whitesmoke;
}

.parceiros {
    background-color: rgb(99, 207, 157);
    color: whitesmoke;
}

.bg-footer {
    background-color: wheat;
    font-family:cursive;
}